
<div id="{$_name}" class="{$class}">
  {$Content}
  {xepan_commerce_itemdetail_wrapper}
  <div data-wow-delay=".5s" class="col-md-7 single-right-left simpleCart_shelfItem animated wow slideInRight">{name_wrapper}
    <h3>{$name}</h3>{/}
    <h4>{sale_price_wrapper}<span class="item_price xepan-commerce-tool-item-sale-price">{$sale_price}</span>{/}
      {original_price_wrapper}
      <div class="xepan-commerce-tool-item-original-price"> - {$original_price}</div>{/}
      {shipping_charge_wrapper}
      <div class="xepan-commerce-tool-item-shipping-charge"> - {$shipping_charge}</div>{/}
    </h4>
    <div class="occasion-cart">{addtocart_wrapper}
      <div data-xsnbitemid="{$id}" data-name="{$name}" class="xshop-item-custom-field-name xshop-item-addtocart">{$Addtocart}</div>{/}
    </div>
    <div class="occasion-cart tab-per">{personalizedbtn_wrapper}
      <div data-xsnbitemid="{$id}" class="commerce-personalize-button-wrapper">{$personalizedbtn}</div>{/}
    </div>
    <div class="social">
      <div class="social-left">
        <p>Share On :</p>
      </div>
      <div class="social-right">
        <ul class="social-icons">
          <li><a href="#" class="facebook"></a></li>
          <li><a href="#" class="twitter"></a></li>
          <li><a href="#" class="g"></a></li>
          <li><a href="#" class="instagram"></a></li>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="clearfix"> </div>
  <div data-wow-delay=".5s" class="bootstrap-tab animated wow slideInUp">
    <div role="tabpanel" data-example-id="togglable-tabs" class="bs-example bs-example-tabs">
      <ul id="myTab" role="tablist" class="nav nav-tabs">{description_wrapper}
        <li role="presentation" class="active"><a id="home-tab" href="#home" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Description</a></li>{/}{specification_wrapper}
        <li role="presentation"><a id="specification-tab" href="#specification" role="tab" data-toggle="tab" aria-controls="specification">Specification</a></li>{/}
        {item_upload_wrapper}
        <li role="presentation"><a id="upload-tab" href="#upload" role="tab" data-toggle="tab" aria-controls="upload">Upload Your Design</a></li>{/}
      </ul>
      <div id="myTabContent" class="tab-content">
        <div id="home" role="tabpanel" aria-labelledby="home-tab" class="tab-pane fade in active bootstrap-tab-text">
          <h5>Product Brief Description</h5>
          <p>{$item_description}</p>
        </div>
        <div id="specification" role="tabpanel" aria-labelledby="specification-tab" class="tab-pane fade bootstrap-tab-text">{$specification}</div>
        <div id="upload" role="tabpanel" aria-labelledby="upload-tab" class="tab-pane fade bootstrap-tab-text">{$item_upload}</div>
      </div>
    </div>
  </div>{/}
</div>