div(id='{$_name}')
	div.container
		div.row
			div.col-lg-12.col-md-12.col-sm-12
				div.xepan-component.xepan-serverside-component(xepan-component="xepan/commerce/Tool_Designer" approved_design_checkbox_label="you approved your designs" watermark_text="printonclick.in" design_preview_layout="view\\tool\\designer\\designpreview" addtocart_layout="view\\tool\\designer\\addtocart")
	style.
		div.xepan-component.xepan-sortable-component.xepan-page-wrapper{
			background:#fcfcfc;
		}
