
<div data-wow-delay=".5s" class="col-md-5 single-right-left animated wow slideInUp">
  <div id="{$_name}" style="{$style}" class="flexslider xepan-commerce-item-images {$class} ">
    {$Content}
    {zoom3_image}<img id="zoom_03{$_name}" src="{firstimage}{/}" data-zoom-image="{$firstimage}" style="margin-left: -7px;" class="zoomwrapper-img xepan-commerce-item-image-to-zoom"/>{/zoom3_image}
    <ul id="gal1{$_name}" style="margin-top:30px;" class="slides xshop-item-image-list">
      {rows}
      {row}
      <li data-thumb="images/si.jpg">
        <div class="thumb-image"><a style="float: left; width: 30%;" href="#{$id}" data-image="{$file}" data-zoom-image="{$file}" class="xshop-item-image-link elevatezoom-gallery"><img id="img_{$id}" src="{$thumb_url}" alt="{$img_alt}" title="{$img_title}" class="img-responsive"/></a></div>
      </li>{/row}
      {/rows}
    </ul>
  </div>
  <!-- flixslider-->
  <script defer="" src="js/jquery.flexslider.js"></script>
  <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen"/>
  <script>
    // Can also be used with $(document).ready()
    $(window).load(function() {
    $('.flexslider').flexslider({
    animation: "slide",
    controlNav: "thumbnails"
    });
    });
  </script>
  <!-- flixslider-->
</div>