{login_wrapper}
i.glyphicon.glyphicon-log-in(aria-hidden='true')
a(href="{$login_url}") Login
{/}

{logout_wrapper}
.dropdown
	.dropdown-toggle(data-toggle='dropdown')
		| Welcome 
		label {$username}
		span.caret
	ul.dropdown-menu.dropdown-menu-right
		li
			i.glyphicon.glyphicon-log-out(aria-hidden='true') 
				a(href="{$logout_url}")  Logout
{/}