.container(id="{$_name}")
  h3.animated.wow.zoomIn(data-wow-delay='.5s') Reset Password
  p.est.animated.wow.zoomIn(data-wow-delay='.5s')
    | Enter your new password and click on reset button
    br
    | Sign in to continue
  .login-form-grids.animated.wow.slideInUp(data-wow-delay='.5s')
    form
      .atk-form-row.atk-form-field
        | {$email}
      .atk-form-row.atk-form-field
        | {$secret_code}
      .atk-form-row.atk-form-field
        | {$password}
      .atk-form-row.atk-form-field
        | {$retype_password}
      {login_wrapper}
      a.forgot-link.back-login.xepan-login-panl-loadview(style='cursor:pointer; cursor: hand;' data-showview="login_view") Back to login
      #login-box-footer
        input(type='submit', value='Login')
      {/} 
  {footer_wrapper}
  h4.animated.wow.slideInUp(data-wow-delay='.5s') Or
  p.animated.wow.slideInUp(data-wow-delay='.5s')
    {forgot_wrapper}
    a#login-forget-link.forgotpassword.xepan-login-panl-loadview(style= "cursor:pointer; cursor: hand; max-width:600px;" data-showview="forget_password") Forgot password
    | (Or) register 
    span.glyphicon.glyphicon-menu-right(aria-hidden='true')
    {/}
    {register_wrapper}
    a.reg_view.xepan-login-panl-loadview(style= "cursor:pointer; cursor: hand;" data-showview="new_registration")  Register now 
    | activate account
    span.glyphicon.glyphicon-menu-right(aria-hidden='true')
    {/}
    {activate_wrapper}
    a.reg_view.xepan-login-panl-loadview(style= "cursor:pointer; cursor: hand;" data-showview="verify_account")  Activate 
     #login-box-footer 
    {/} 
  {/}
  style.
      #{$_name} input{
        width:100%;
      }