div(id='{$_name}' class="{$class} row" style="{$style}")
  {rows}{row}
  .xepan-commerce-item(data-xsnb-item-id='{$id}', onclick='javascript:void(0);')
    .new-collections-grid1.animated.wow.slideInUp.animated.animated.animated(style='visibility: visible; animation-delay: 0.5s; animation-name: slideInUp;', data-wow-delay='.5s')
      {image_wrapper}
      .new-collections-grid1-image.xepan-commerce-image-wrapper
        a.product-image.xepan-commerce-image-anchor(href='{$item_detail_page_url_via_image}')
          img.img-responsive.xepan-commerce-item-img(src='{first_image}abc{/}')
        .new-collections-grid1-image-pos
          a(href='{item_detail_page_url_via_name}{/}') Quick View
        .new-collections-grid1-right
          .rating
            .rating-left
              img.img-responsive(src='images/2.png', alt=' ')
            .rating-left
              img.img-responsive(src='images/2.png', alt=' ')
            .rating-left
              img.img-responsive(src='images/2.png', alt=' ')
            .rating-left
              img.img-responsive(src='images/2.png', alt=' ')
            .rating-left
              img.img-responsive(src='images/2.png', alt=' ')
            .clearfix  
      {/image_wrapper}
      {name_wrapper} 
      h4
        a.xepan-commerce-item-name(href='{item_detail_page_url_via_name}{/}') {$name}
      {/}
      {description_wrapper}
      p {$description}
      {/}
      .new-collections-grid1-left.simpleCart_shelfItem
        p
          {original_price_wrapper}
          i {$original_price}
          {/}
          {sale_price_wrapper}
          span.item_price {$sale_price}
          {/}
          {shipping_charge_wrapper}
          span.item_price {shipping_charge}0{/}
          {/}
          {addtocart_wrapper}
          .xepan-commerce-item-addtocart(data-xsnbitemid="{$id}" data-name="{$name}"){$Addtocart}
          {/}
          {personalizedbtn_wrapper}
          div(data-xsnbitemid="{$id}" class="commerce-personalize-button-wrapper") {$personalizedbtn}
          {/}
      {specification_wrapper}
      .new-collections-grid1-left.simpleCart_shelfItem
        {specification}
        {rows}{row}
        p
          small
            i {$name}
            span.item_price  {$value}
        {/}{/}
        {/specification}
      {/}
  {/}{/}
  {not_found}
  div.full-width.alert.alert-warning(role="alert")
    strong.glyphicon.glyphicon-warning-sign &nbsp;Warning!
      span &nbsp;{$not_found_message}
  {/}
  {paginator_wrapper}
  .new-collections-grid1-left.simpleCart_shelfItem
    .hide-paginator.xepan-commerce-item-paginator(style='float:none; clear:both')
      {$Paginator}
  {/}